body{
    background-color: #51575b;
}

main{
    margin: 0;
    padding: 30px;
    font-family: 'DM Sans', sans-serif;

}

section{
    background-color: white;
    padding: 15px;
    margin: 30px 100px 50px 100px;
    border-radius: 15px;
}
@media screen and (max-width: 750px) {
    section{
        margin: 30px 20px 50px 20px;
    }
}

.button-box{
    display: flex;
    justify-content:center;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 2px ;
}

button, .submit{
    height: 30px;
    width: 25%;
    margin: 3px;
    font-size: 15px;
    border: none;
    background-color: white;
    border-radius: 8px;
    color: #878687;
}

button:active, button:hover, button:focus, {
    color: blue;
    background-color:#f6f6f6;
}

.text-box{
    margin: 20px;
    border-top: 1px solid gray;
    padding: 0px ;
}

.right{
    text-align: right;
}

.left{
    text-align: left;
}

.center{
    text-align: center;
}

.justify{
    text-align: justify;
}
/* ------------------------------------- */

.to-do-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2{
    margin: 8px 5px 15px 5px;
}

input{
    height: 30px;
    width: 70%;
    margin: 3px;
    font-size: 15px;
    display: flex;
    justify-content:center;
    border: 0px solid #e0e0e0;
    border-radius: 10px;
    padding: 2px ;
    text-indent: 10px;
    background-color:#f6f6f6;
}


.submit{
    height: 35px;
    width: 25%;
    margin: 3px;
    font-size: 15px;
    border: none;
    background-color:rgb(78, 78, 230);
    border-radius: 8px;
    color: white;
    font-weight: 400;
}

.submit:hover,  .submit:active{
    color: blue;
    background-color:#f6f6f6;
}

hr{
    border: 0.5px solid rgb(220, 220, 220);
    margin: 12px 5px;
}

.goal{
    height: 45px;
    margin: 3px;
    font-size: 18px;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 10px ;
    margin-top: 15px;
}